
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Proyecto</title>
</head>
<body>
  {{{body}}} <!-- Lugar donde se inyecta el contenido de otras vistas -->
</body>
</html>
